@charset "UTF-8";
/* Variables used in self-serve */
/* Image assets path */
/* Default colors used in self-serve */
/* Text Colors */
/* Body background color */
/* Body text color */
/* Forms text color - Drop down, Input box, etc .. */
/* Page title text color */
/* Anchor link text color */
/* General note text color */
/* Footer note section text color */
/* Error text color */
/* bordor color*/
/* Primary Button styles */
/* Background color */
/* Text color */
/* Border color */
/* Secondary Button styles */
/* Background color */
/* Text color */
/* Border color */
/* button/checkBox focus color after selected */
/* Disabled Button styles */
/* Background color */
/* Text color */
/* Border color */
/* Background color when active */
/* Border color when active*/
/* Card styles colors */
/* Card header background color */
/* Card header title text color */
/* Card border color */
/* Active/Selected card header - background color */
/* Shadow style for card */
/* Background colors */
/* Footer background color */
/* Jumbotran background color */
/* Border colors */
/* Common border color used for input, dropdowns, etc */
/* Border color used between the sections, lists, etc */
/* Counter border color */
/* Border outlined color whenever required field is missed to add */
/* Border size */
/* Common border size */
/* Corner radius */
/* Card border radius */
/* Bootstrap highlight date color*/
/* Item description and store name */
/* Badge color */
/* Phone and Map Icon Color */
/*Pickup UI Variqble */
/*Contact customer service variable*/
/*Drop down active select option variable*/
/*Logo height Adjustment*/
/* Default Font family */
@import url("https://fonts.googleapis.com/css?family=Roboto:400");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
/* Font family  declarations */
/* Font-sizes */
body {
  font-family: "Montserrat", "sans-seriff", "Arial";
  font-size: 0.9rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2rem;
  /* Adding font family with font name, font-size, font-weight, font-style, and line height */
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Montserrat", "sans-seriff", "Arial";
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2rem;
}

/* Logo */
.logo-container {
  border-bottom: 1px solid #9B9B9B;
}

.logo {
  background: url("https://media.4-paws.org/b/8/d/5/b8d5441fec6b84e9c3cba899549b84bb0f193fff/VIER%20PFOTEN_2019-07-18_013-2890x2000.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

hr {
  background-color: #D7DDE1;
}

/* Theme - Skin styles like font colors, button colors,  border colors, message box colors, etc */
body {
  color: #4A4A4A;
  background: #ffffff;
}

a {
  color: #4A4A4A;
  text-decoration: none;
  outline: none;
}
a:hover {
  color: #4A4A4A;
  text-decoration: none;
}

h2 {
  color: #171F24;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
}

h3 {
  color: #ffffff;
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

h5 {
  font-size: 1rem;
  font-weight: bold;
}

h6 {
  font-size: 0.9rem;
}

.notes {
  color: #9B9B9B;
}
.notes p {
  font-size: 1rem;
}

.small {
  font-size: 0.9rem;
  margin-top: 1.5rem;
}

.info-message {
  color: #AAB2B7;
}
.info-message p {
  color: #4A4A4A;
}
.info-message span {
  color: #4A4A4A;
}
.info-message a {
  text-transform: uppercase;
}

.head {
  font-weight: bold;
}

.message {
  border-top: 1px solid #D7DDE1;
  border-bottom: 1px solid #D7DDE1;
}

.error {
  color: #DC143C !important;
}

.address {
  font-size: 0.8rem;
  text-transform: capitalize;
}

.caps {
  text-transform: uppercase;
}

/* Card styles */
.card {
  width: 100%;
  border-radius: 0;
}
.card .card-header {
  background-color: #C31533;
  color: #ffffff;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0);
}
.card .card-body {
  border: 1px solid #9B9B9B;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.card .border-bottom {
  border-bottom: 1px solid #9B9B9B;
}

.card-box-shadow {
  box-shadow: 0 -2px 7px 0px rgba(0, 0, 0, 0.2), -8px 6px 22px -11px rgba(0, 0, 0, 0.2);
}

.card-border {
  border: 1px solid #9B9B9B;
}

.card-selected {
  border: 1px solid #C31533 !important;
}

/* Button styles */
.btn {
  cursor: pointer;
  border-radius: 0 !important;
  background: #ffffff;
  border: 1px solid #9B9B9B;
  color: #4A4A4A;
}

.btn-primary {
  width: 265px !important;
  background: #043C63;
  color: #ffffff;
  border: 1px solid #043C63;
}

.btn-primary:hover {
  background: #043C63;
  color: #ffffff;
  border: 1px solid #043C63;
}

.btn-primary:disabled {
  background: #043C63;
  color: #ffffff;
  border: 1px solid #043C63;
  opacity: 0.4 !important;
}

.btn-primary:active {
  background: #043C63 !important;
  border: 1px solid #043C63 !important;
  color: #ffffff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}

.btn-primary:focus {
  background: #043C63 !important;
  border: 1px solid #043C63 !important;
  color: #ffffff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}

.btn-outline-primary:hover {
  background: #043C63;
}

.btn-secondary {
  width: 260px !important;
  background: #ffffff;
  color: #C31533;
  border: 1px solid #C31533;
}

.btn-secondary:hover {
  background: #ffffff;
  color: #C31533;
  border: 1px solid #C31533;
}

/* Thumbnail Image styles */
.item-image p {
  text-transform: capitalize;
  font-size: 1rem;
}
.item-image a {
  text-align: center;
}

.item-description {
  color: #000000;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.store-name {
  color: #000000;
  font-size: 1.2rem;
}

.track-info .row div:nth-child(2) {
  border-left: 1px solid #D7DDE1;
}
.track-info .row.track-head div:nth-child(2) {
  border-left: 0;
}

/* Select box(Drop down) styles */
.custom-control {
  outline: none;
  z-index: 0;
}
.custom-control .custom-control-label {
  font-size: 1rem;
  padding-left: 1rem;
}

.custom-control-label::before,
.custom-control-label::after {
  outline: none;
  border-radius: 0.3rem;
}

.custom-select {
  border-radius: 0;
  border: 1px solid #9B9B9B !important;
  color: #4A4A4A;
}

.custom-control-label::before {
  border: 1px solid #9B9B9B !important;
  background: none;
}

/* Checkbox Active color */
.custom-control-input:checked ~ .custom-control-label::before {
  background: #C31533 !important;
  border-color: #C31533 !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.jumbotron {
  background-color: #f1f1f1;
  border-radius: 0;
}
.jumbotron p {
  line-height: 1.5rem;
}

.fixed {
  background: #f1f1f1;
  border-top: 1px solid #D7DDE1;
}

.line::after {
  content: " ";
  border-top: 1px solid #D7DDE1;
}

/* carrier align styles */
.carrier-align {
  background-repeat: no-repeat !important;
  background-position: 1.2rem 0.3rem !important;
  line-height: 1.3rem;
}

/* Loader styles */
.loader {
  border: 0.3rem solid #C31533;
  border-radius: 50%;
  border-left: 0.3rem solid #f1f1f1;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Icon styles */
.map {
  line-height: 2rem !important;
}

.close {
  border-radius: 50%;
  border: 1px solid #9B9B9B !important;
  text-align: center;
  font-size: 2rem;
  opacity: 1;
  color: #4A4A4A;
  background: #ffffff !important;
}
.close:hover {
  background: #ffffff !important;
  opacity: 1 !important;
}

ol.counter li::before {
  text-align: center;
  border: 1px solid #4A4A4A;
  border-radius: 50%;
  color: #4A4A4A;
  font-size: 0.8rem;
}

/* Footer steps */
ol.steps li {
  border-bottom: 1px solid #9B9B9B;
}

ol.steps li:after {
  content: "  ";
  font-size: 0rem;
}

ol.steps li:before {
  line-height: 0.6rem;
  content: "";
  background-color: #f1f1f1;
  border: 1px solid #9B9B9B;
  border-radius: 50%;
  transform: rotate(18deg);
}

ol.steps li.on {
  border-bottom: 1px solid #C31533;
}
ol.steps li.on::before {
  content: " ";
  background-color: #C31533;
  border: 1px solid #C31533;
}

ol.steps li.done {
  border-bottom: 1px solid #C31533;
}
ol.steps li.done::before {
  content: "&#10003;";
  background-color: #C31533;
  border: 1px solid #C31533;
  font-size: 0.6rem;
  color: #ffffff;
}

ol.steps li:last-child {
  border: 0;
}

.button-mod {
  color: #ffffff;
  background: #043C63;
  border-radius: 50% !important;
  text-align: center;
  line-height: 2.5rem;
  font-size: 1.5rem;
  border: 1px solid #043C63;
}

.btn:disabled {
  cursor: default;
  opacity: 0.65;
}

.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}

.edit-qty-btn {
  text-decoration: underline;
}

.option-active {
  border: solid #4285F4;
}

.calendar-modal .modal-header .close {
  margin-right: -1.5rem;
}
.calendar-modal .highlight-tab {
  background-color: #043C63;
  color: #ffffff;
}
.calendar-modal .table td {
  border: none;
}
.calendar-modal .highlight-bg {
  background-image: radial-gradient(circle, #043C63, #043C63 20px, transparent 20px);
  color: #ffffff;
}
.calendar-modal .tabs-inline {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.calendar-modal .card {
  border: none;
}
.calendar-modal .table thead th {
  border: none;
}
.calendar-modal .highlight-date {
  color: #0720f5;
}
.calendar-modal .dot {
  display: inline-flex;
}
.calendar-modal .dot::after {
  content: "&#8226;";
  color: #4285F4;
  font-size: 2rem;
}
.calendar-modal .disable {
  pointer-events: none;
  opacity: 0.5;
  cursor: pointer;
}
.calendar-modal .day {
  text-align: center !important;
}
.calendar-modal .active {
  color: #f1f1f1;
  background-color: #043C63;
}

.error-display-message {
  text-align: center;
}

.word {
  color: #9B9B9B;
  font-size: 0.9375rem;
}

.font {
  font-size: 1rem;
}

.store-location {
  margin-top: 0.6875rem;
  padding-right: 1px;
}

.active {
  border-radius: 1.5625rem;
}

@media (min-width: 0) {
  .date-picker {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .header-margin {
    margin-left: 2rem !important;
  }

  .carrier-margin {
    margin-left: 0.95rem !important;
  }

  .row-order {
    margin-left: 0px !important;
  }
}
@media (min-width: 768px) {
  .date-picker {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .row-order {
    margin-right: 1.25rem;
    margin-left: 1.25rem;
  }

  .phonenumber-margin {
    margin-top: 1rem;
  }

  .details {
    margin: 0.5rem 0;
  }

  .margin-cal-title h4 {
    margin-left: 5rem;
  }
  .margin-cal-title h5 {
    margin-left: 3rem;
  }
  .margin-cal-title p {
    margin-left: 5rem;
  }

  .row-order {
    margin-left: 3rem !important;
  }

  .header-margin {
    margin-left: auto !important;
  }

  .carrier-margin {
    margin-left: auto !important;
  }

  .body-margin {
    margin-left: 2.2rem !important;
  }
}
.fa-map-phone:before {
  font-size: 1.2rem;
}

.item-details {
  margin-top: 1rem !important;
}

@media (min-width: 992px) {
  .min-width {
    margin-left: 11rem;
    margin-right: 11rem;
  }

  .margin-text-left {
    margin-left: 1rem !important;
  }

  .scale {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }

  .store-location {
    margin-left: 4.8rem;
    margin-bottom: -1rem;
  }

  .phonenumber-margin {
    margin-top: 2rem;
    margin-left: 4.8rem;
  }

  .item-des {
    margin-left: 6rem;
  }

  .item-space {
    margin-left: 5rem;
  }

  .margin-cal-title h4 {
    margin-left: 10.5rem;
  }
  .margin-cal-title h5 {
    margin-left: 10rem;
  }
  .margin-cal-title p {
    margin-left: 10.5rem;
  }

  .calendar-modal .date-picker {
    margin-left: 8.5rem;
    width: 60rem !important;
  }

  .header-margin {
    margin-left: auto !important;
  }

  .carrier-margin {
    margin-left: auto !important;
  }

  .itemdetails-margin {
    margin-top: 1.5rem;
  }
}
.top-margin {
  margin-top: 1.5rem;
}

.bottom-margin {
  margin-bottom: 1.5rem !important;
}

.tracking-number {
  margin-top: 0.5rem !important;
}

/* Structure/Layout related styles */
body {
  margin: 0rem auto 2rem;
  padding: 0 0 10rem;
}

h3 {
  margin: 0.5rem 0 1rem;
}

h5 {
  margin: 2rem 0 1rem;
}

p {
  margin: 0;
}

.badge {
  font-size: 1rem;
  background-color: #C31533;
  color: #ffffff;
}

.fa-store-map {
  cursor: pointer;
  font-size: 2rem !important;
  color: #ffffff;
}

.store-map-icon {
  margin-left: 0.6rem;
}

.phone-icon {
  cursor: pointer;
  font-size: 2rem !important;
  color: #ffffff;
}

.error-response {
  max-width: 100%;
  font-size: 1rem;
  overflow-wrap: break-word;
  background-color: #FFE2E7;
  color: #DC143C;
}

.success-response {
  max-width: 100%;
  font-size: 1rem;
  overflow-wrap: break-word;
  background-color: #96d1984d;
}

.info-message {
  padding-bottom: 1rem;
}
.info-message span {
  display: block;
}
.info-message a {
  padding-right: 2rem;
  float: right;
}
.info-message span.inline {
  display: inline !important;
}

.hidden {
  display: none;
}

.ellipsis {
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Card styles */
.card .card-header {
  background-repeat: no-repeat;
  background-position: 2rem 3rem !important;
  padding-right: 1.9rem;
  padding-bottom: 2rem;
}
@media (min-width: 576px) {
  .card .card-header p {
    margin-top: 3.5rem;
    letter-spacing: 0.02rem;
  }
  .card .card-header h3 {
    margin-left: 9px;
  }
}
@media (min-width: 0) {
  .card .card-header p {
    margin-top: 3.5rem;
    letter-spacing: 0.02rem;
  }
  .card .card-header h3 {
    margin-left: 9px;
  }
}
@media (min-width: 768px) {
  .card .card-header p {
    margin-top: 0.5rem;
    letter-spacing: 0.02rem;
  }
}
@media (min-width: 992px) {
  .card .card-header p {
    margin-top: 0.5rem;
    letter-spacing: 0.02rem;
  }
  .card .card-header .details {
    margin: 0.7rem 0;
  }
}
.card .card-body {
  padding: 1rem 0.75rem 1.5rem;
}
.card button {
  width: 100%;
  text-align: left;
}

button {
  width: 80%;
  height: 3rem;
  margin-bottom: 1rem;
}
button:last-child {
  margin-bottom: 0;
}

/* Custom styles */
section.wrapper {
  margin-bottom: 1rem;
}

/* Thumbnail Image styles */
div.wrapper {
  margin-bottom: 1rem;
}
div.wrapper:last-child {
  margin-bottom: 0rem;
}

.item-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-image div {
  width: 4rem;
  margin: 1rem 1rem 0 0;
}
.item-image p {
  margin: 0.5rem 0;
}
.item-image a {
  width: 100%;
  display: block;
}

.card .item-image, div.wrapper .item-image {
  padding-right: 0;
}
.card .item-image div, div.wrapper .item-image div {
  width: 100%;
  margin: 0rem 1rem 0 0;
  display: flex;
  align-items: center;
}
.card .item-image p, div.wrapper .item-image p {
  width: 80%;
}

/* Select box(Drop down) styles */
.custom-control {
  height: auto !important;
  min-height: inherit !important;
  padding: 0 0 10px 10px;
}
.custom-control .custom-control-label {
  padding-left: 1rem;
}

.custom-control-label::before,
.custom-control-label::after {
  width: 1.5rem;
  height: 1.5rem;
  top: 0;
}

.jumbotron {
  padding: 1rem 1rem 2rem 1rem;
  margin: 0rem 0 2rem;
}
.jumbotron h5 {
  margin: 0 0rem 0.5rem;
}
.jumbotron .wrapper {
  margin-bottom: 0rem;
}

.fixed {
  position: fixed;
  padding-bottom: 1.5rem;
  padding-top: 0rem;
  bottom: 0;
  left: 0;
  width: 100%;
}

.line {
  position: relative;
}
.line::after {
  content: "";
  position: absolute;
  top: 0.6rem;
  width: 40%;
  margin-left: 1rem;
}

/* carrier align styles */
.carrier-align span {
  padding-top: 2.7rem;
  display: block;
}
.carrier-align p {
  margin-top: 0rem !important;
  padding-left: 3rem;
}

/* Custom classes */
.pad-bt-10 {
  padding-bottom: 10rem;
}

header {
  margin: 0 0 3rem;
}

.mt-8 {
  margin-top: 4rem;
}

/* Loader styles */
.loader {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: calc(50% - 1.5rem);
  left: calc(50% - 1.5rem);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Logo related styles */
.logo-container {
  margin: 0rem auto 1.5rem;
  padding: 1rem 0;
  cursor: pointer;
}

.logo {
  max-width: 100%;
  height: 2rem;
}
.logo img {
  height: 100%;
}

/* Icon styles */
.icon {
  display: inline-block;
  height: 2rem;
  width: 2.2rem;
  margin: 0rem 0;
}

.close {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0px !important;
  position: absolute;
  top: -0.3rem;
  right: 1.7rem;
}

.rot-270 {
  transform: rotate(270deg) !important;
}

/* Counter Styles */
ol.counter {
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 1.75rem;
  margin: 1rem 0;
}
ol.counter .jumbotron {
  margin: 0.5rem 0rem;
  width: 90%;
}
ol.counter li {
  margin: 0 0 1rem 0;
  counter-increment: my-awesome-counter;
  position: relative;
}
ol.counter li::before {
  content: counter(my-awesome-counter);
  position: absolute;
  --size: 1.2rem;
  left: calc(-1 * var(--size) - 0.7rem);
  line-height: 1.1rem;
  width: var(--size);
  height: var(--size);
  top: 0;
}

/* Tracking details styles */
.track-info {
  margin-bottom: 2rem;
}
.track-info .head {
  margin: 1.5rem 0.5rem 1rem;
}
.track-info .row {
  margin: 1rem 0rem 1rem 0.5rem;
}
.track-info .row div {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.ptop-2 {
  padding-top: 2rem !important;
}

/* Footer steps */
ol.steps {
  padding: 0;
  list-style-type: none;
  margin: 0px auto 1.5rem;
}

ol.steps li {
  display: inline-block;
  width: 1.25rem;
}

ol.steps li:before {
  position: relative;
  float: left;
  height: 0.75rem;
  width: 0.75rem;
  bottom: -1.2rem;
}

ol.steps li.done::before {
  content: "&#10003;";
}

ol.steps li:last-child {
  width: auto;
}

.button-mod {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0px;
  margin-bottom: 0;
}

.button-mod:disabled {
  background: #043C63;
  color: #ffffff;
  border: 1px solid #043C63;
}

.input-box {
  height: 2.5rem;
  width: 3.5rem;
  padding: 0.5rem;
}

.btn.rd2 {
  border-radius: 2rem !important;
}

.btn:disabled {
  cursor: default;
  opacity: 0.65;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

.store-collapse .fa {
  transition: 0.3s transform ease-in-out;
}

.store-collapse .collapsed .fa {
  transform: rotate(-90deg);
}

.full {
  width: 100%;
}

@media (min-width: 576px) {
  .carrier-image {
    display: flex;
    align-items: center;
  }
  .carrier-image img {
    max-width: 3rem;
    max-height: 3rem;
    margin-right: 1rem;
    margin-top: 0px;
  }
}
@media (min-width: 0) {
  .carrier-image {
    display: flex;
    align-items: center;
  }
  .carrier-image img {
    max-width: 3rem;
    max-height: 3rem;
    margin-right: 1rem;
    margin-top: 0px;
  }
}
@media (min-width: 768px) {
  .carrier-image {
    display: inline;
    align-items: center;
  }
  .carrier-image img {
    max-width: 3rem;
    max-height: 3rem;
    margin-right: 1rem;
    margin-top: -24px;
  }
  .carrier-image div {
    height: 2rem;
  }
}
@media (min-width: 992px) {
  .carrier-image {
    display: inline;
    align-items: center;
  }
  .carrier-image img {
    max-width: 3rem;
    max-height: 3rem;
    margin-right: 1rem;
    margin-top: -24px;
  }
  .carrier-image div {
    height: 2rem;
  }
}

#store-expand-link {
  color: #000000;
}

.modal-body .mht-auto .btn {
  min-height: auto;
}
.modal-body .btn {
  white-space: inherit;
  min-height: 3rem;
  height: auto;
}

.return-email {
  color: #4285F4;
}

.bdr-danger {
  border: 0.1rem solid #C31533;
  box-shadow: none !important;
}

.max-hr {
  margin-left: -1rem !important;
  margin-right: -1rem !important;
}

.calendar-modal table {
  width: 100%;
}
.calendar-modal table thead {
  line-height: 2rem;
}
.calendar-modal table thead th {
  text-align: center;
}
.calendar-modal table tbody tr {
  line-height: 2rem;
}
.calendar-modal table td {
  cursor: pointer;
}
.calendar-modal .datepicker-switch {
  text-align: center;
}

@media (min-width: 0) {
  .item-image {
    max-width: 35% !important;
  }

  .item-details {
    max-width: 65% !important;
  }
}
.fa-contact-customer-icon {
  font-size: 2rem;
}

/* .fab {
  background: #ffffff;
  color: #C31533;
  border: 1px solid #C31533;
  box-shadow: 2px 3px 9px 0px rgba(0, 0, 0, 0.2), 5px 10px 10px -8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: fixed;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
} */

.fab:not([data-component-id="MessageSendButton"]):not([data-component-id="MessageSendButtonDisabled"])  {
	position: fixed;
	right: 15px;
	bottom: 15px;
	box-shadow: 2px 3px 9px 0px rgba(0, 0, 0, 0.2), 5px 10px 10px -8px rgba(0, 0, 0, 0.2);
} 
.fab {
	background: #ffffff;
	color: #C31533;
	border: 1px solid #C31533;
	text-align: center;
	cursor: pointer;
}

.fab-scroll-up {
  width: 140px;
  height: 45px;
  border-radius: 30px;
}

.fab-scroll-down {
  width: 50px;
  height: 50px;
}

.contact-us-label {
  vertical-align: super;
}

.fab-remove {
  width: 48px;
  height: 48px;
}

.customer-channel-mode {
  position: fixed;
  bottom: 75px;
  right: 20px;
}

.fab-phone-icon {
  background-color: #C31533;
  cursor: pointer;
}

.contact-customer-phone {
  width: 45px;
  height: 45px;
  float: right;
}

.contact-customer-phone-icon {
  margin-left: 0.7rem;
  margin-top: 0.4rem;
}

.customer-channel-model-content {
  border: none;
  background-color: transparent;
}

.fab-call-label {
  float: left;
  border-radius: 0.5rem;
  background: white;
  cursor: pointer;
}

.pickup-icon {
  width: 40px;
  height: 40px;
}
