.logo {
  background: url("https://media.4-paws.org/b/8/d/5/b8d5441fec6b84e9c3cba899549b84bb0f193fff/VIER%20PFOTEN_2019-07-18_013-2890x2000.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
